# Dependências
node_modules

# Arquivos de build
dist

# Arquivos do sistema
.DS_Store

# Diretórios específicos
server/public

# Arquivos de configuração
vite.config.ts.*

# Arquivos compactados
*.tar.gz

# Variáveis de ambiente e secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
